<h2>Lista użytkowników</h2>
<section class="users">
    <aside>
        <ul>
            @for (u of usersList(); track $index) {
                <li>
                    <app-user (selectedUser)="onUserSelect($event)" [user]="u"/>
                </li>
            }
        </ul>
    </aside>
    <article>
        @if(selectedUser()){            
            <h3>Wybrano użytkownika: {{selectedUser()?.name}}</h3>
            <p>adres email: {{selectedUser()?.email}}</p>
        }@else{
            <h3>Wybierz użytkownika</h3>
        }
    </article>
</section>